*, *:before, *:after {
  box-sizing: border-box;
}
.envelope-wrapper {
  position: relative;
  display: inline-block;
}
#contact{
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.envelope {
  margin: 2em auto 0;
  position: relative;
  z-index: 0;
  display: inline-block;
  -moz-box-shadow: 0 150px 90px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 150px 90px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 150px 90px 0 rgba(0, 0, 0, 0.3);
  margin 
}

.envelope-top {
  width: 0;
  height: 0;
  z-index: 0;
  position: relative;
  -webkit-transform-origin: top;
  -webkit-transform: translate(0px, 0px) scale(1) rotateX(0deg);
  -moz-transition: ease-in 0.5s forwards 0.4s, z-index 1s ease-out 0.5s;
  -o-transition: ease-in 0.5s forwards 0.4s, z-index 1s ease-out 0.5s;
  -webkit-transition: ease-in 0.5s forwards, z-index 1s ease-out;
  -webkit-transition-delay: 0.4s, 0.5s;
  transition: ease-in 0.5s forwards 0.4s, z-index 1s ease-out 0.5s;
  margin-top: 7em;
  border-style: solid;
  z-index: 3;
  border-width: 7em 10em 0 10em;
  border-color: #111 transparent transparent  transparent;
}
.active .envelope-top {
  z-index: 0;
  -moz-transition: ease-in 0.5s forwards 0s, z-index 1s ease-in-out 0.5s;
  -o-transition: ease-in 0.5s forwards 0s, z-index 1s ease-in-out 0.5s;
  -webkit-transition: ease-in 0.5s forwards, z-index 1s ease-in-out;
  -webkit-transition-delay: 0s, 0.5s;
  transition: ease-in 0.5s forwards 0s, z-index 1s ease-in-out 0.5s;
  -webkit-transform-origin: top;
  -webkit-transform: translate(0px, 0px) scale(1) rotateX(-180deg);
}

.envelope:after,
.envelope:before {
  content: '';
  display: block;
  position: absolute;
  top: 7em;
  z-index: 4;
  border-style: solid;
}

.envelope:after {
  width: 0;
  height: 0;
  right: 0;
  border-width: 6.2em 10em 6.2em 0;
  border-color: transparent #2e3032 transparent transparent;
}

.envelope:before {
  width: 210px;
  height: 180px;
  border-width: 12.4em 0 0 20.1em;
  border-color: transparent transparent transparent #36393c;
}

.active .card {
  top: -20px;
  -moz-transition: top 0.5s ease-in-out 0.5s;
  -o-transition: top 0.5s ease-in-out 0.5s;
  -webkit-transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0.5s;
  transition: top 0.5s ease-in-out 0.5s;
}

.card {
  width: 280px;
  height: 180px;
  position: absolute;
  top: 120px;
  left: 20px;
  z-index: 2;
  background: white;
  padding: 1.5em 1.5em 0 1.5em;
  border-radius: 5px;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: lowercase;
  color: #111;
  font-size: 15px;
}

.email-button {
  background-color: #c10507;
  border: 1px solid #b24c45;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: .75em .5em;
  line-height: 1em;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  -moz-border-radius: 0px 4px 4px 0;
  -webkit-border-radius: 0px;
  border-radius: 0px 4px 4px 0;
  -moz-box-shadow: 1px 2px #b24c45;
  -webkit-box-shadow: 1px 2px #b24c45;
  box-shadow: 1px 2px #b24c45;
  -moz-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  bottom: 0em;
  left: -.5em;
}
.email-button:before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  border-style: solid;
  width: 0;
  height: 0;
  left: 0;
  border-width: 0 1px 14px 11px;
  border-color: transparent transparent #a0443e transparent;
}
.email-button:hover {
  background-color: #860915;
}




